$primary: #00FFA3;
$font-black: #15161D;
$font-white: #D1D1D1;


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Bruno Ace SC', cursive, serif;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

h1 {
    font-size: 128px;
    color: $primary;
    text-align: end;
}

h2 {
    font-size: 64px;
}

a {
    text-decoration: none;
    color: $font-white;
}

.mr-4 {
    margin-right: 16px;
}

.mr-5 {
    margin-right: 20px;
}

.mr-6 {
    margin-right: 24px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-9 {
    margin-bottom: 36px;
}

.my-40 {
    margin-top: 160px;
    margin-bottom: 160px;
}

.ml-1 {
    margin-left: 4px;
}

.py-40 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.header {
    background-color: black;
}

.nav {
    padding-top: 40px;
    li {
        max-width: 306px;
        color: $font-white;
    }
}

.banner {
    align-items: center;

    .img-people {  
        height: auto;
        width: 636px;
        margin: 72px 24px 72px 0;
    }

    .banner-text {
        width: 636px;
        font-size: 64px;
        color: white;
        a {
            display: block;
            margin-left: auto;
        }
    }
}

.btn {
    width: 185px;
    height: 48px;
    padding: 12px 24px;
    border-radius: 32px;
}

.btn-contact {
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    img {
            margin-left: 4px;
        }
}

.bg {
    background-image: url(../images/week2/background-img.png);
    background-size: cover;
}

.intro-text {
    color: white;
    p {
        margin-bottom: 32px;
        font-size: 24px;
    }
}

.about-left {
    flex-wrap: wrap;
    width: 636px;
    margin: 206px 0;
    gap: 24px;
    color: $font-black;
    li {
        width: 306px;
        padding: 16px;
        border: 1px solid #E3E3E3;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
    }
}

.about-text {
    width: 526px;
    p {
        font-size: 24px;
        color: $font-black;
    }
}

.bg-linear {
    background: linear-gradient(180deg, #050014 0%, #01021EE3 100%);
}

.contact {
    color: white;
    padding: 96px 0;

    .contact-text {
        align-items: center;
    }

    .social img {
        width: 162px;
        &:hover {
            filter: drop-shadow(0px 0px 16px rgba(144, 148, 255, 0.9));
        }
    }
}

.myProjects {
    h2 {
        margin-left: 550px;
        margin-bottom: 16px;
    }
    .myProjects-right {
        flex-wrap: wrap;
        width: 856px;
    }
    .myProjects-main {
        margin-bottom: 28px;
    }
    .myProjects-text {
        p {
            margin-bottom: 76px;
            color: $font-black;
        }
        a {
            display: block;
            background-color: black;
        }
        img {
            margin-left: 4px;
        }
    }

}

.footer {
    background-color: black;
    padding: 40px 0;
    text-align: center;
    p {
        color: white;
    }
}